[Unit]
Description=Frappe Bench Server
After=network.target redis.service

[Service]
Type=simple
User=frappe
WorkingDirectory=/home/frappe/frappe-bench
ExecStart=/home/frappe/.local/bin/bench serve --port 8000
Restart=always
RestartSec=5
Environment=PATH=/home/frappe/.local/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
